/*Mini Style Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #84CEEB;
  background-image: linear-gradient(120deg, #8860D0,#84CEEB);
  color: black;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

h1 {
  text-decoration: underline;
}

header, form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*To Do Form and Button*/

.todo-input, .todo-button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

.todo-button {
  color: #8860D0;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.todo-button:hover {
  color: white;
  background: #84CEEB;
}

/*To Do List*/

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo li {
  flex: 1;
}

.complete-button, .delete-button {
  background:#8860D0;
  color: white;
  border: none;
  font-size: 1rem;
  padding: 1rem;
  cursor: pointer;
}

/* .complete-button {
  margin-right: 0.5rem;
} */


.complete-button:hover, .delete-button:hover {
  background: #84CEEB;
  color: white; 
}
